body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game h1 {
    font-size: 2.5em;
    margin: 15px;
    
}

.points span {
    font-weight: bold;
    font-size: 1.5em;
    color: #ecfa00;
}

.tip {
    font-size: 1.4em;
    margin: 10px;
}

.tip span {
    color: #ecfa00;
    font-size: 1.5em;
}

.workContainer {
    display: flex;
    justify-content: center;
    margin: 1.5em auto;
    padding: 1em;
    border: 30px solid #eb9008;
    border-radius: 50px;
    display: flex;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;

}

.start, p {
    margin: 20px 10px;
    font-size: 1.5em;
}

@media (min-width: 370px) and (max-width: 894px) {
    .workContainer {
        width: 280px;
        margin: 1.5em auto;
        padding: 1.em;
        border: 20px solid #eb9008;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        
    }

    .letter, .blankSquare {
        font-size: 2em;
        line-height: 2;
        border: 2px solid #000;
        height: 60px;
        width: 60px;
        text-transform: uppercase;
        background-color: #fff;
        color: #000;
        font-weight: bold;
    
    }

    .game h1 {
        font-size: 2em;
    }

    .points span {
        font-size: 1.6em;
        color: #ecfa00;
    }
    
    .tip span {
        font-size: 1.4em;
        font-weight: 900;
    }

    .start, p {
        margin: 20px 10px;
        font-size: 1.2em;
    }
    
    .letterContainer button {
        font-size: 1em;
    }

}

.letterContainer button {
    font-size: 1em;
}

 
.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}